<nav class="py-5 mx-5 lg:mx-10 xl:mx-20 flex flex-row font-primary">
    <div class="w-full font-medium">
        <a href="/home" class="pr-5 hover:text-delft-blue-light">Home</a>
        <a href="/songs" class="pr-5 hover:text-delft-blue-light">Songs</a>
        <a href="/your-reviews" class="pr-5 hover:text-delft-blue-light">Your Reviews</a>
        <a href="/about" class="pr-5 hover:text-delft-blue-light">About</a>
        <a href="/contact" class="pr-5 hover:text-delft-blue-light">Contact</a>
    </div>
    {{#if session.isLoggedIn}}
    <div class="flex flex-row w-full justify-end">
        <p>Hi, {{ session.username }}!</p>
        <a href="/logout" class="hover:text-delft-blue-light pl-3">Logout</a>
    </div>
    {{else}}
    <a href="/login" class="hover:text-delft-blue-light">Login</a>
    {{/if }}
</nav>