<div class="bg-champagne-light w-full h-fit px-5 py-5 rounded-lg">
    <h1 class="text-3xl font-primary">What is TrackTalk?</h1>
    <p class="text-lg">TrackTalk is a website where you can find your favourite tracks and write reviews about them. You
        can also see reviews from other users.</p>
</div>
<div class="bg-champagne-light w-full h-fit px-5 py-8 rounded-lg mt-5">
    <h1 class="text-3xl font-primary">How to use TrackTalk?</h1>
    <ul class="list-disc list-inside">
        <li class="text-lg">Go to <a href="/songs" class="underline">"Songs"</a> section to see all the tracks available on TrackTalk.</li>
        <li class="text-lg">Go to <a href="/your-reviews" class="underline">"Yore Reviews"</a> section to see all the reviews you have written.</li>
        <li class="text-lg">Go to <a href="/contact" class="underline">"Contact"</a> section to find my contact.</li>
        <li class="text-lg">Go to <a href="/songs" class="underline">"Songs"</a> and click on one song to see its detail and start to write your review!</li>
    </ul>
</div>
<div class="bg-champagne-light w-full h-fit px-5 py-8 rounded-lg mt-5">
    <h1 class="text-3xl font-primary">About Me</h1>
    <p class="text-lg">Hi, I'm <span class="font-bold">Save</span> <span class=" font-light italic">(Yes, Save is my name and you might think "wow that's a nice name"...well, thank you :))</span>. 
    I'm a software engineer student from Kasetsart University in Thailand. I created TrackTalk as a project for my Web Development Fundamental course <span class=" font-light italic">(Web Dev Fun)</span> while exchange at Jönköping University in Sweden.
    The reason why I created TrackTalk is because I love music so much and I want to create a website where people can share their thoughts about their favourite tracks.
    I hope you enjoy using TrackTalk!</p>
</div>