<div class="flex flex-col w-full h-full justify-center items-center">
    <img src="/img/my-photo.jpg" alt="Napasakorn Boonkerd" width="200px" height="200px" class=" rounded-full">
    <h1 class="text-4xl font-primary py-3">Napasakorn Boonkerd</h1>
    <h2 class="text-2xl font-primary text-delft-blue-light">Software Engineer Student</h2>
    <h3 class="text-xl font-primary text-delft-blue-light pb-3">(Exchang Student at JU from Thailand)</h3>
    <div>
        <div class="flex flex-row items-center">
            <!-- Ref. for icon: https://www.flaticon.com/free-icons/email -->
            <img src="/img/mail.png" alt="" class="h-5">
            <p class="pl-3 text-xl">bona24bd@student.ju.se</p>
        </div>
        <div class="flex flex-row items-center">
            <!-- Ref. for icon: https://www.flaticon.com/free-icons/phone -->
            <img src="/img/telephone.png" alt="" class="h-5">
            <p class="pl-3 text-xl">07-07070707</p>
        </div>
        <div class="flex flex-row items-center">
            <!-- Ref. for icon: https://www.flaticon.com/free-icons/github -->
            <img src="/img/github.png" alt="" class="h-5">
            <p class="pl-3 text-xl underline"><a href="https://github.com/Savetang19">Savetang19</a></p>
        </div>
        <div class="flex flex-row items-center">
            <!-- Ref. for icon: https://www.flaticon.com/free-icons/linkedin -->
            <img src="/img/linkedin.png" alt="" class="h-5">
            <p class="pl-3 text-xl underline"><a
                    href="https://www.linkedin.com/in/napasakorn-boonkerd-5bb0b9218/">Napasakorn Boonkerd</a>
            </p>
        </div>
    </div>
</div>