<div class="flex flex-col w-full h-full justify-center items-center font-primary">
    <p class="text-4xl text-redwood">{{ error }}</p>
    <p class="text-2xl mt-10 hover:text-delft-blue-light"><a href="/songs">Let's find other track! -></a></p>
</div>