<div class="flex flex-col w-screen h-screen justify-center items-center">
    <p class="text-5xl">Welcome to TrackTalk!</p>
    <p class="text-3xl mt-5">A music review website for all music lover</p>
    <p class="text-2xl mt-10"><a href="/songs">Let's find your favourite track! -></a></p>
</div>