<div class="flex flex-col w-full h-full justify-center items-center">
    <div class=" bg-champagne-light w-fit h-fit px-5 py-8 rounded-lg">
        <p class=" text-4xl font-primary pb-5">Login to your account</p>
        {{#if error}}
        <p class="text-redwood">{{ error }}</p>
        {{/if}}
        <form action="/login" method="post">
            <div class="flex flex-col pb-3">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required class=" rounded p-0.5">
            </div>
            <div class="flex flex-col pb-3">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required class=" rounded p-0.5">
            </div>
            <div class=" w-full p-1 rounded text-center bg-delft-blue text-white hover:opacity-75">
                <button type="submit" class="w-full">Login</button>
            </div>
        </form>
        <div class="flex justify-center pt-5">
            <a href="/register" class="text-delft-blue">Don't have an account? Register here</a>
        </div>
    </div>
</div>