<div class="flex flex-col w-full h-full justify-center items-center">
    <div class=" bg-champagne-light w-fit h-fit px-5 py-8 rounded-lg flex flex-col md:flex-row">
        <img src="{{ song.cover_url }}" alt="" width="300px" height="300px">
        <div class="w-full md:pl-10">
            <p class="text-2xl font-medium font-primary">{{ song.title }}</p>
            <form action="/song/review/{{ song.sid }}" method="post">
                <div class="flex flex-col pb-3">
                    <label for="rating">Rating</label>
                    <input type="number" min="0" max="5" id="rating" name="rating" required class="rounded p-0.5">
                </div>
                <div class="flex flex-col pb-3">
                    <label for="comment">Review</label>
                    <textarea id="comment" name="comment" required class="rounded p-0.5"></textarea>
                </div>
                <div class="w-full p-1 rounded text-center bg-delft-blue text-white hover:opacity-75">
                    <button type="submit" class="w-full">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>